* {
	font-family: Georgia;
}
header {
	background-color: sienna;
	color: white;
	height: 150px;
}
footer {
	background-color: sienna;
	color: white;
	height: 150px;
}
#baner1 {
	width: 40%;
	float: left;
}
#stopka1 {
	width: 30%;
	float: left;
}
#baner2 {
	width: 50%;
	font-size: 150%;
	position: relative;
	top: -140px;
	left: 520px;
}
#stopka2 {
	width: 60%;
	font-size: 110%;
	position: relative;
	left: 150px;
}
#baner3 {
	width: 10%;
	text-align: center;
	float: right;
	position: relative;
	top: -250px;
}
#stopka3 {
	width: 10%;
	text-align: center;
	float: right;
	position: relative;
	top: -100px;
}
#blok-glowny {
	background-color: tan;
	padding: 100px;
}
a {
	background-color: tan;
	color: sienna;
	padding: 40px;
	line-height: 150px;
	border-width: 1px;
	border-color: sienna;
}
ul {
	list-style: circle;
}